[Unit]
Description=Lightec systemd service.
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=simple
ExecStart=/bin/sh /usr/bin/lightec.sh

[Install]
WantedBy=multi-user.target